[submodule "user_service"]
	path = user_service
	url = https://github.com/Abramovnv/user_service.git
[submodule "post_service"]
	path = post_service
	url = https://github.com/Abramovnv/post_service.git
[submodule "project_service"]
	path = project_service
	url = https://github.com/Abramovnv/project_service.git
[submodule "infra"]
	path = infra
	url = https://github.com/Abramovnv/infra.git
[submodule "payment_service"]
	path = payment_service
	url = https://github.com/Abramovnv/payment_service.git
[submodule "notification_service"]
	path = notification_service
	url = https://github.com/Abramovnv/notification_service.git
[submodule "analytics_service"]
	path = analytics_service
	url = https://github.com/Abramovnv/analytics_service.git
[submodule "achievement_service"]
	path = achievement_service
	url = https://github.com/Abramovnv/achievement_service.git
